// Place all the styles related to the Spreadsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;
  height: 33px;
}

.row {
  padding-top: 10px;
}

#titleText {
  margin-top: 0px;
}

.description {
  padding: 0px 20px;
}

#evaluate_button {
  margin: 0 auto;
  display: block;
}

#table-container {
  overflow: auto;
}

#reference_error_cell {
  display: inline-block;
}

.invalid {
  border-color: palevioletred;
  background: beige;
}

#heading_text {
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  height: 43.33px;
}

.columnLabel, .rowLabel, .cellContents {
  text-align: center;
}

.cellInput {
  margin: auto;
  display: block;
  width: 80%;
  border-radius: 2px;
}

.rowLabel {
  width: 60px;
}
