<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpreadsheetCalculator!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron text-center" id="heading_text">
    <h1 id="titleText">Let's Build a Spreadsheet!</h1>
    <p class="description">This is a Spreadsheet Calculator, which accepts both mathematical statements and cell references as input.  Your first line should be the size of the spreadsheet (`2 2` being a 2 x 2 spreadsheet, and so on), with the following lines listing cell contents.  `A2 3 *` would make the cell value equal to the value in A2, times 3.  Try it out!</p>
  </div>

  <button type="button" name="button" class="btn btn-primary btn-lg" id="evaluate_button" onclick=evaluateSpreadsheet()>Evaluate!</button>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="title">Input - Size:
          <select name="" class="size-selector" id="numColumns">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected="selected">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select> x
          <select name="" class="size-selector" id="numRows">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected="selected">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </h3>
        <div class="" id="table-container">
          <table class = "table table-bordered table-responsive" id="spreadsheet_input">
            <thead>
              <tr id="inputColumnHeader">
                <th class="rowLabel">#</th>
                <th class="columnLabel">A</th>
                <th class="columnLabel">B</th>
                <th class="columnLabel">C</th>
              </tr>
            </thead>

            <tbody id="inputRows">
              <tr>
                <th class="rowLabel" scope="row">1</th>
                <td><input type="text" class="cellInput" size="5px"></td>
                <td><input type="text" class="cellInput" size="5px"></td>
                <td><input type="text" class="cellInput" size="5px"></td>
              </tr>

              <tr>
                <th class="rowLabel" scope="row">2</th>
                <td><input type="text" class="cellInput" size="5px"></td>
                <td><input type="text" class="cellInput" size="5px"></td>
                <td><input type="text" class="cellInput" size="5px"></td>
              </tr>

              <tr>
                <th class="rowLabel" scope="row">3</th>
                <td><input type="text" class="cellInput" size="5px"></td>
                <td><input type="text" class="cellInput" size="5px"></td>
                <td><input type="text" class="cellInput" size="5px"></td>
              </tr>
            </tbody>

          </table>
        </div>
        <div id="improper_input_alert" class="alert alert-warning alert-dismissible fade in" style="display:none;" role="alert">
          <strong>Oh snap!</strong> Looks like you may have formatted your instructions incorrectly.  Try again!
        </div>
        <div id="incorrect_dims_alert" class="alert alert-warning alert-dismissible fade in" style="display:none;" role="alert">
          <strong>Oh snap!</strong> Your table dimensions do not match the number of cells you've given.  Try again!
        </div>
        <div id="cyclic_alert" class="alert alert-warning alert-dismissible fade in" style="display:none;" role="alert">
          <strong>Infinite cycle alert!</strong>  You've got these cells going in a loop: <div id="cell_cycle"></div>Try again!
        </div>
        <div id="reference_error_alert" class="alert alert-warning alert-dismissible fade in" style="display:none;" role="alert">
          <strong>Reference Error!</strong>  You're referencing <div id="reference_error_cell"></div>, which is not in the spreadsheet.  Try again!
        </div>
        <div id="polish_notation_error_alert" class="alert alert-warning alert-dismissible fade in" style="display:none;" role="alert">
          <strong>Notation Error!</strong>  You must use Reverse Polish notation.  Instead of `1 + 2`, use `1 2 +`.  Try again!
        </div>
      </div>

      <div class="col-sm-6">
        <h3 class="title">Output</h3>
        <div class="" id="table-container">
          <table class = "table table-bordered table-responsive" id="spreadsheet_results">
            <thead>
              <tr id="columnHeader">
                <th class="rowLabel">#</th>
                <th class="columnLabel">A</th>
                <th class="columnLabel">B</th>
                <th class="columnLabel">C</th>
              </tr>
            </thead>

            <tbody id="rows">
              <tr>
                <th class="rowLabel" scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <tr>
                <th class="rowLabel" scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <tr>
                <th class="rowLabel" scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
